 
.refresh-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.2s;
}

.spinner-background {
  background-color: #ffffff;
  width: 100%;
}

.spinner .img {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
 
  