
.meeting-box {
    box-shadow: 0 0 5px lightcyan, 0 0 15px lightcyan;
    transition: 0.4s ease-in-out; 
}


.glow.lightcyan {
    box-shadow: 0 0 5px lightcyan, 0 0 15px lightcyan;
}

.glow.lightcyan:hover {
    box-shadow: 0 0 5px lightcyan, 0 0 15px lightcyan, 0 0 30px lightcyan, 0 0 60px lightcyan, 0 0 120px lightcyan;
}

.glow.lightpink {
    box-shadow: 0 0 5px lightpink, 0 0 15px lightpink;
}

.glow.lightpink:hover {
    box-shadow: 0 0 5px lightpink, 0 0 15px lightpink, 0 0 30px lightpink, 0 0 60px lightpink, 0 0 120px lightpink;
}

.glow.palegreen {
    box-shadow: 0 0 5px palegreen, 0 0 15px palegreen;
}

.glow.palegreen:hover {
    box-shadow: 0 0 5px palegreen, 0 0 15px palegreen, 0 0 30px palegreen, 0 0 60px palegreen, 0 0 120px palegreen;
}

.glow.lavender {
    box-shadow: 0 0 5px lavender, 0 0 15px lavender;
}

.glow.lavender:hover {
    box-shadow: 0 0 5px lavender, 0 0 15px lavender, 0 0 30px lavender, 0 0 60px lavender, 0 0 120px lavender;
}

.glow.peach {
    box-shadow: 0 0 5px peachpuff, 0 0 15px peachpuff;
}

.glow.peach:hover {
    box-shadow: 0 0 5px peachpuff, 0 0 15px peachpuff, 0 0 30px peachpuff, 0 0 60px peachpuff, 0 0 120px peachpuff;
}

.glow.softblue {
    box-shadow: 0 0 5px lightblue, 0 0 15px lightblue;
}

.glow.softblue:hover {
    box-shadow: 0 0 5px lightblue, 0 0 15px lightblue, 0 0 30px lightblue, 0 0 60px lightblue, 0 0 120px lightblue;
}

.glow.lightgoldenrod {
    box-shadow: 0 0 5px lightgoldenrodyellow, 0 0 15px lightgoldenrodyellow;
}

.glow.lightgoldenrod:hover {
    box-shadow: 0 0 5px lightgoldenrodyellow, 0 0 15px lightgoldenrodyellow, 0 0 30px lightgoldenrodyellow, 0 0 60px lightgoldenrodyellow, 0 0 120px lightgoldenrodyellow;
}

.glow.lightsalmon {
    box-shadow: 0 0 5px lightsalmon, 0 0 15px lightsalmon;
}

.glow.lightsalmon:hover {
    box-shadow: 0 0 5px lightsalmon, 0 0 15px lightsalmon, 0 0 30px lightsalmon, 0 0 60px lightsalmon, 0 0 120px lightsalmon;
}

.glow.palevioletred {
    box-shadow: 0 0 5px palevioletred, 0 0 15px palevioletred;
}

.glow.palevioletred:hover {
    box-shadow: 0 0 5px palevioletred, 0 0 15px palevioletred, 0 0 30px palevioletred, 0 0 60px palevioletred, 0 0 120px palevioletred;
}

.glow.powderblue {
    box-shadow: 0 0 5px powderblue, 0 0 15px powderblue;
}

.glow.powderblue:hover {
    box-shadow: 0 0 5px powderblue, 0 0 15px powderblue, 0 0 30px powderblue, 0 0 60px powderblue, 0 0 120px powderblue;
}

.glow.mintgreen {
    box-shadow: 0 0 5px mintcream, 0 0 15px mintcream;
}

.glow.mintgreen:hover {
    box-shadow: 0 0 5px mintcream, 0 0 15px mintcream, 0 0 30px mintcream, 0 0 60px mintcream, 0 0 120px mintcream;
}

.glow.lightgray {
    box-shadow: 0 0 5px lightgray, 0 0 15px lightgray;
}

.glow.lightgray:hover {
    box-shadow: 0 0 5px lightgray, 0 0 15px lightgray, 0 0 30px lightgray, 0 0 60px lightgray, 0 0 120px lightgray;
}
