.button-hold {
  --color: #ffffff;
  --background: #313131;
  --icon: var(--color);
  --progress-border: #646b8c;
  --progress-active: #fff;
  --progress-success: #28a745;
  --tick-stroke: var(--progress-active);
  --shadow: #{rgba(#00093d, 0.2)};
  --duration: 1000ms;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  min-width: 112px;
  padding: 12px 20px 12px 12px;
  border: 0;
  border-radius: 24px;
  outline: none;
  user-select: none;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  box-shadow: 0 var(--shadow-y, 4px) var(--shadow-blur, 12px) var(--shadow);
  transform: scale(var(--scale, 1)) translateZ(0);
  color: var(--color);
  background: var(--background);
  margin-top: 24px;
  & > div {
    margin-right: 8px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: var(--progress-border);
    &:before {
      content: "";
      width: 16px;
      height: 16px;
      left: 2px;
      top: 2px;
      z-index: 1;
      position: absolute;
      background: var(--background);
      border-radius: inherit;
      transition: transform 0.32s ease;
    }

    svg {
      display: block;

      &.icon,
      &.tick {
        position: absolute;
      }

      &.icon {
        width: 16px;
        height: 16px;
        left: 2px;
        top: 2px;
        fill: var(--icon);
        z-index: 1;
        transition:
          opacity 0.2s,
          transform 0.2s;
        opacity: var(--icon-opacity, 1);
        transform: translateY(var(--icon-y, 0)) scale(var(--icon-scale, 1));
      }

      &.progress,
      &.tick {
        fill: none;
      }

      &.progress {
        width: 20px;
        height: 20px;
        transform: rotate(-90deg) scale(var(--progress-scale, 1));
        transition: transform 0.5s ease;
        z-index: 998;

        circle {
          stroke-dashoffset: 1;
          stroke-dasharray: var(--progress-array, 0) 52;
          stroke-width: 16;
          stroke: var(--progress-active);
          transition: stroke-dasharray var(--duration) linear;
        }
      }

      &.tick {
        width: 20px;
        height: 20px;
        left: 0;
        top: 0;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--tick-stroke);
        transition: stroke 0.1s ease 0.3s;
        z-index: 999;

        polyline {
          stroke-dasharray: 18 18 18;
          stroke-dashoffset: var(--tick-offset, 18);
          transition: stroke-dashoffset 0.2s ease 0.4s;
        }
      }
    }
  }

  &:focus,
  &:hover {
    background-color: #3a3a3a;
    transform: scale(1.02);
    &:not(.process) {
      --shadow-y: 8px;
      --shadow-blur: 16px;
    };
    
  }

  &:active {
    &:not(.success) {
      --scale: 0.96;
      --shadow-y: 4px;
      --shadow-blur: 8px;
    }
  }

  &.process,
  &.success {
    --progress-array: 52;
    --icon-y: -4px;
    --icon-scale: 0.6;
    --icon-opacity: 0;
  }

  &.success {
    --progress-border: none;
    --progress-scale: 0.11;
    --tick-stroke: var(--progress-success);
    --background-scale: 0;
    --tick-offset: 36;

    & > div {
      svg {
        &.progress {
          animation: tick 0.3s linear forwards 0.4s;
        }
      }
    }
  }
}

@keyframes tick {
  100% {
    transform: rotate(-90deg) translate(0, -5px) scale(var(--progress-scale));
  }
}
